<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>S3 - Client Dashboard</title>
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
<link href="css/styles.css" rel="stylesheet" media="screen">

</head>

<body>
<div id="wrap">
<header>
<div class="logo"><img src="img/logo.png"></div>

<ul class="main-nav">
	<li><a href="#">Image</a></li>
    <li class="active"><a href="#">Analytics</a></li>
    <li><a href="#">Master</a></li>
</ul>
<div class="logout"><!--<a href="#" id="ele"  data-toggle="tooltip"  data-placement="bottom" title="Logout"><img src="img/logout.png" alt="Logout" title="Logout"></a>-->
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Bharath Agarwal
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Signout</a></li>
  </ul>
</div>
</div>
</header>
<section class="row-fluid content-col">
  <div class="span12">
  <div class="span3 search-sec">
        	<div class="contnr">
            	<form class="form-search">
                    <input class="input-block-level" type="text" placeholder="Search Tag">
                </form>
                <ul class="tags-holder">
                	<li><label>Guruji</label><span><a href="#"><img src="img/add-small.png" alt="Add"></a></span></li>
                    <li><label>Art of Living Courses</label><span><a href="#"><img src="img/add-small.png" alt="Add"></a></span></li>
                    <li><label>Yes plus Course</label><span><a href="#"><img src="img/add-small.png" alt="Add"></a></span></li>
                    <li><label>Guruji</label><span><a href="#"><img src="img/add-small.png" alt="Add"></a></span></li>
                </ul>
                <ul class="sel-tags">
               	  <li><label>Guruji Picture</label><span><a href="#"><img src="img/close-small.png" alt="Remove"></a></span></li>
                    <li><label>Art of Living Courses</label><span><a href="#"><img src="img/close-small.png" alt="Remove"></a></span></li>
                    <li><label>Yes Plus Course</label><span><a href="#"><img src="img/close-small.png" alt="Remove"></a></span>></li>
                    <li><label>Guruji</label><span><a href="#"><img src="img/close-small.png" alt="Remove"></a></span></li>
                    <li><label>Picture</label><span><a href="#"><img src="img/close-small.png" alt="Remove"></a></span></li>
                </ul>
            </div>
        </div>
        <div class="span9">
        	<div class="row-fluid">
            <div class="contnr">
            <div class="controls-holder">
            <div class="select-row">
            	<label class="checkbox inline">Call to action:</label>
                <label class="checkbox inline">
               		 <input type="checkbox" id="inlineCheckbox1" value="option1"> Buy
                </label>
                <label class="checkbox inline">
                	<input type="checkbox" id="inlineCheckbox2" value="option2"> Call
                </label>
                <label class="checkbox inline">
                	<input type="checkbox" id="inlineCheckbox3" value="option3"> Email                </label>
                <label class="checkbox inline">
                	<input type="checkbox" id="inlineCheckbox3" value="option3"> SMS                </label>
                <label class="checkbox inline">
                	<input type="checkbox" id="inlineCheckbox3" value="option3"> Audio                </label>
                <label class="checkbox inline">
                	<input type="checkbox" id="inlineCheckbox3" value="option3"> Video                </label>
                <label class="checkbox inline">
                	<input type="checkbox" id="inlineCheckbox3" value="option3"> 
                	Web                </label>
            </div>
            <div class="select-row">
            	<label class="radio inline">Group by:</label>
                 <label class="radio inline">
               		 <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Location
                </label>
                <label class="radio inline">
                	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Time
                </label>
                <label class="radio inline">
                	<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> Tag                </label>
                <label class="radio inline">
                	<input type="radio" name="optionsRadios" id="optionsRadios4" value="option3"> Image                </label>
            </div>
            <div class="select-row">
            <label class="radio inline">&nbsp;</label>
            <label class="radio inline">
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Country
            </label>
            <label class="radio inline">
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> State
            </label>
            <label class="radio inline">
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"> City                </label>
           </div>
            </div>
       <p>Total Images: <a href="#" data-toggle="collapse" data-target="#demo">15</a></p>
       <div id="demo" class="collapse out">
       	 <ul id="container" class="imao">
         	<li class="item"><img src="img/pics/p10.jpeg"></li>
            <li class="item"><img src="img/pics/p9.jpeg"></li>
            <li class="item"><img src="img/pics/p8.jpeg"></li>
            <li class="item"><img src="img/pics/p7.jpeg"></li>
            <li class="item"><img src="img/pics/p10.jpeg"></li>
            <li class="item"><img src="img/pics/p5.jpeg"></li>
            <li class="item"><img src="img/pics/p6.jpeg"></li>
            <li class="item"><img src="img/pics/p10.jpeg"></li>
            <li class="item"><img src="img/pics/p9.jpeg"></li>
            <li class="item"><img src="img/pics/p8.jpeg"></li>
            <li class="item"><img src="img/pics/p7.jpeg"></li>
            <li class="item"><img src="img/pics/p10.jpeg"></li>
            <li class="item"><img src="img/pics/p5.jpeg"></li>
            <li class="item"><img src="img/pics/p6.jpeg"></li>
            <li class="item"><img src="img/pics/p10.jpeg"></li>
         </ul>
       </div>    
       <table class=" table table-bordered table-striped list-view">
          <thead>
            <tr>
              <th>State</th>
              <th>Country</th>
              <th>Buy</th>
              <th>Call</th>
              <th>Email</th>
              <th>SMS</th>
              <th>Video</th>
              <th>Audio</th>
              <th>Web</th>
              <th>Total</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kerala</td>
              <td>India</td>
              <td>5</td>
              <td>8</td>
              <td>12</td>
              <td>10</td>
              <td>4</td>
              <td>12</td>
              <td>10</td>
              <td>56</td>
            </tr>
            <tr>
              <td>Mumbai</td>
              <td>India</td>
              <td>5</td>
              <td>8</td>
              <td>12</td>
              <td>10</td>
              <td>4</td>
              <td>12</td>
              <td>10</td>
              <td>56</td>
            </tr>
            <tr>
              <td>Hyderabad</td>
              <td>India</td>
              <td>5</td>
              <td>8</td>
              <td>12</td>
              <td>10</td>
              <td>4</td>
              <td>12</td>
              <td>10</td>
              <td>56</td>
            </tr>
            <tr>
              <th>Total</th>
              <th>&nbsp;</th>
              <th>20</th>
              <th>24</th>
              <th>36</th>
              <th>30</th>
              <th>12</th>
              <th>36</th>
              <th>30</th>
              <th>188</th>
            </tr>
          </tbody>
        </table>
            </div>
        </div>
 </div>
</section>
<div id="push"></div>
</div>
<footer id="footer">CopyRights @ Smart Snap 2013. All Rights Reserved</footer>
<script src="js/jQuery v1.9.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/isotope.js"></script>
<script>
$(document).ready(function(){ 
$('#container').isotope({itemSelector: '.item',
        masonry : {
          columnWidth : $('#container').width() / 4
        }

});
$(window).smartresize(function(){
  $('#container').isotope({
    // update columnWidth to a percentage of container width
    masonry: { columnWidth: $('#container').width() / 4 }
  });
});

});
$('#element').tooltip('show')
$('#ele, #grid, #list').tooltip('hide')
</script>
</body>
</html>
