<script></script>
<p>Analytics DATA</p>
<table class=" table table-bordered table-striped list-view">
	<thead>
		<tr>
			<th>COUNTRY</th>
			<th class='count_buy' style='display:none;'>BUYS</th>
			<th class='count_email' style='display:none;' >EMAILS</th>
			<th class='count_call' style='display:none;' >CALLS</th>
			<th class='count_sms' style='display:none;' >SMSES</th>
			<th class='count_video' style='display:none;' >VIDEO</th>
			<th class='count_audio' style='display:none;' >AUDIO</th>
			<th class='count_www' style='display:none;' >WWW</th>
			<!-- <th>SHARE</th> -->
			<th class='total'>TOTAL</th>
		</tr>
	</thead>
	<tbody>
		<!-- ko foreach: keys -->
		<tr>
			<td data-bind="text: $data"></td>
			<td class='count_buy' style='display:none;' data-bind="text: $root.getCount($data,'buy')"></td>
			<td class='count_email' style='display:none;' data-bind="text: $root.getCount($data,'email')"></td>
			<td class='count_call' style='display:none;' data-bind="text: $root.getCount($data,'call')"></td>
			<td class='count_sms' style='display:none;' data-bind="text: $root.getCount($data,'sms')"></td>
			<td class='count_video' style='display:none;' data-bind="text: $root.getCount($data,'video')"></td>
			<td class='count_audio' style='display:none;' data-bind="text: $root.getCount($data,'audio')"></td>
			<td class='count_www' style='display:none;' data-bind="text: $root.getCount($data,'www')"></td>
			<td class='total' data-bind="text: $root.getTotal($data)"></td>
		</tr>
		<!-- /ko -->
		<tr>
			<td>TOTAL</td>
			<td class='count_buy' style='display:none;' data-bind="text: $root.columnTotal('buy')"></td>
			<td class='count_email' style='display:none;' data-bind="text: $root.columnTotal('email')"></td>
			<td class='count_call' style='display:none;' data-bind="text: $root.columnTotal('call')"></td>
			<td class='count_sms' style='display:none;' data-bind="text: $root.columnTotal('sms')"></td>
			<td class='count_video' style='display:none;' data-bind="text: $root.columnTotal('video')"></td>
			<td class='count_audio' style='display:none;' data-bind="text: $root.columnTotal('audio')"></td>
			<td class='count_www' style='display:none;' data-bind="text: $root.columnTotal('www')"></td>
			<td id='grandTotal'></td>
		</tr>
	</tbody>
</table>

