<h1>Profile Details</h1>
<table>
	<tr>
		<td>User Name:</td>
		<td data-bind="text: profile.userName"></td>
	</tr>	
	<!-- <tr>
		<td>Password:</td>
		<td data-bind="text: profile.password"></td>
	</tr> -->
	<tr>
		<td>Company Name:</td>
		<td data-bind="text: profile.companyName"></td>
	</tr>	
	<tr>
		<td>Email Id:</td>
		<td data-bind="text: profile.emailId"></td>
	</tr>
	<tr>
		<td>Company Address:</td>
		<td data-bind="text: profile.companyAddress"></td>		
	</tr>
	<tr>
		<td><a data-bind="attr:{href:'#/profile/edit'}">Edit</a></td>
	</tr>
</table>