<form id="editAudio" data-validate="parsley">
	<h1>Edit Audio Link</h1>
	<table>
		<tr>
			<td>Display Text:</td>
			<td>
			<input type="text" data-trigger="change" data-required="true" name="name" data-bind="value: audioMaster.name">
			</td>
		</tr>
		<tr>
			<td>URL:</td>
			<td>
			<input type="text" data-type="url" data-trigger="change" data-required="true" name="url" data-bind="value: audioMaster.url">
			</td>
		</tr>
		<tr>
			<td>Pic URL: </td>
			<td>
			<input id="fileupload" type="file" name="upload" multiple="false" />
			&nbsp; <span style="font-size:12px;color:#a0a0a0;">(Supported Formats: jpg, jpeg, png and gif)</span></td>
		</tr>
		<tr>
			<td colspan="2"><img  data-bind="attr:{src:'/data/audioShowcase/'+ audioMaster.icon_url()}"  style="max-height:100px; max-width: 50px;" id="photo"/></td>
		</tr>
	<tr>
			<td>
			<input type="checkbox" data-bind="checked: audioMaster.showcaseFlag"  data-group="mygroup"  />
			<span>Showcase</span></td>
	</tr>
	<!-- ko if: audioMaster.showcaseFlag -->
	<tr>
		<td>Title:</td>
		<td><input type="text" name="name" data-bind="value: audioMaster.title"></td>
	</tr>
	<tr>
		<td>Sub-Title:</td>
		<td><input type="text" name="url" data-bind="value: audioMaster.subtitle"></td>
	</tr>
	<!-- /ko -->
		<tr>
			<td></td>
			<td>
			<input type="button" value="Save" id="audio_save" data-bind="click: editAudioMaster"/>
			<input type="button" data-bind="click:cancel" value="Cancel" />
			</td>
		</tr>
	</table>
</form>