<div class="span12" id='layout3'>
	<!-- <div class="span4 hea">
		<div class="insider">
            <select class="input-large">
              <option>Web</option>
              <option>Call</option>
              <option>SMS</option>
              <option>Email</option>
              <option>Buy</option>
              <option>Audio</option>
              <option>Video</option>
            </select>
        </div>
	</div>
	<div class="span8 hea"></div>
	<div class="span4 spl"></div>
	<div class="span8 spl1"></div>
	<div class="clearfix"></div>
	<div class="indexing"></div> -->
</div>