<div class="add"><a href="#/email_masters/new" id="element" data-toggle="tooltip"  data-placement="right" title="Add a New Image"><img src="img/add.png" alt="Add"></a></div>
<ul class="view">
	<li><a style='cursor:pointer;' id='grid' data-toggle="tooltip"  data-placement="bottom" title="Switch to Grid View"><img src="img/grid.png" alt="Grid"></a></li>
	<li><a style='cursor:pointer;' id="list" data-toggle="tooltip"  data-placement="bottom" title="Switch to List View"><img src="img/list.png" alt="List"></a></li>
</ul>