<form id="editEmail" data-validate="parsley">
	<h1>Edit Email Link</h1>
	<table>
		<tr>
			<td>Display Text :</td>
			<td>
			<input type="text" data-trigger="change" data-required="true" name="name" data-bind="value: emailMaster.name">
			</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>
			<input type="text" data-type="email" data-trigger="change" data-required="true" name="email" data-bind="value: emailMaster.email">
			</td>
		</tr>
		<tr>
			<td>Default Subject</td>
			<td>
			<input type="text" data-trigger="change" data-required="true" name="email" data-bind="value: emailMaster.defaultSubject">
			</td>
		</tr>
		<tr>
			<td>Default Text</td>
			<td>			<textarea name="email" data-trigger="change" data-required="true" data-bind="value: emailMaster.defaultText"></textarea></td>
		</tr>
		<tr>
			<td>Pic URL: </td>
			<td>
			<input id="fileupload" type="file" name="upload" multiple="false" />
			&nbsp; <span style="font-size:12px;color:#a0a0a0;">(Supported Formats: jpg, jpeg, png and gif)</span></td>
		</tr>
		<tr>
			<td>
			<input type="checkbox" data-bind="checked: emailMaster.showcaseFlag"  data-group="mygroup"  />
			<span>Showcase</span></td>
		</tr>
		<!-- ko if: emailMaster.showcaseFlag -->
		<tr>
			<td>Title:</td>
			<td>
			<input type="text" name="name" data-bind="value: emailMaster.title">
			</td>
		</tr>
		<tr>
			<td>Sub-Title:</td>
			<td>
			<input type="text" name="url" data-bind="value: emailMaster.subtitle">
			</td>
		</tr>
		<!-- /ko -->
		<tr>
			<td colspan="2"><img  data-bind="attr:{src:'/data/emailShowcase/'+ emailMaster.icon_url()}"  style="max-height:100px; max-width: 50px;" id="photo"/></td>
		</tr>
		<tr>
			<td></td>
			<td>
			<input type="button" value="Save" id="email_save" data-bind="click: editEmailMaster"/>
			<input type="button" data-bind="click:cancel" value="Cancel" />
			</td>
		</tr>
	</table>
</form>