<div class="span12">
 <h1><i>Edit</i> Client Profile</h1>
<div class="create-form">
<form class="form-horizontal" id="editClient" data-validate="parsley">
        <div class="control-group">
            <label class="control-label" for="inputUserName">User Name:</label>
            <div class="controls">
            <input type="text" id="inputUserName" class="input-block-level" data-trigger="change" data-required="true" data-bind="value: client.userName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password:</label>
            <div class="controls">
            <input type="password" id="inputPassword" class="input-block-level" data-trigger="change" data-required="true" data-bind="value: client.password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCompanyName" >Company Name:</label>
            <div class="controls">
            <input type="text" id="inputCompanyName" class="input-block-level" data-trigger="change" data-required="true" data-bind="value: client.companyName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputWebsite">Company Website:</label>
            <div class="controls">
            <input type="text" id="inputWebsite" placeholder="Enter company website" class="input-block-level" data-type="url" data-trigger="change" data-required="true" data-bind="value: client.companyWebsite">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCompanyEmail" >Company Email Id:</label>
            <div class="controls">
            <input type="text" id="inputCompanyEmail" class="input-block-level" data-trigger="change" data-type="email" data-required="true" data-bind="value: client.emailId">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhoneNumber">Phone Number:</label>
            <div class="controls">
            <input type="text" id="inputPhoneNumber" placeholder="Enter phone number" class="input-block-level" data-trigger="change" data-required="true" data-bind="value: client.phoneNumber">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAddressDetails">Address Details:</label>
            <div class="controls">
            <textarea rows="3" id="inputAddressDetails" class="input-block-level" data-trigger="change" data-required="true" data-bind="value: client.companyAddress"></textarea>
            </div>
        </div> 
        <button class="btn btn-primary btn-danger pull-right"  aria-hidden="true" data-bind="click: editClient">Submit</button>
        <a href="admin-dashboard.html" role="button" class="btn  pull-left" data-toggle="modal" data-bind="click: cancel">Cancel</a>
       
</form>
<div class="clearfix"></div>
</div>
  </div>

<script>
$('#element').tooltip('show')
</script>
