<div class="span12">
 <h1>Create <i>a New</i> Client Profile</h1>
<div class="create-form">
<form class="form-horizontal" id="createClient" data-validate="parsley">
        <div class="control-group">
            <label class="control-label" for="inputUserName">User Name:</label>
            <div class="controls">
            <input type="text" id="inputUserName" placeholder="Enter user name" class="input-block-level" data-trigger="change" data-required="true" name="userName" data-bind="value: client.userName">
            <!-- <input type="text" name="userName" data-bind="value: client.userName"> -->
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password:</label>
            <div class="controls">
            <input type="password" id="inputPassword" placeholder="Enter password" class="input-block-level" data-trigger="change" data-required="true" name="userName" data-bind="value: client.password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCompanyrName">Company Name:</label>
            <div class="controls">
            <input type="text" id="inputCompanyName" placeholder="Enter company name" class="input-block-level" data-trigger="change" data-required="true" data-bind="value: client.companyName">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputWebsite">Company Website:</label>
            <div class="controls">
            <input type="text" id="inputWebsite" placeholder="Enter company website" class="input-block-level" data-type="url" data-trigger="change" data-required="true" data-bind="value: client.companyWebsite">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCompanyEmail">Company Email Id:</label>
            <div class="controls">
            <input type="text" id="inputCompanyEmail" placeholder="Enter company email id" class="input-block-level" data-trigger="change" data-required="true" data-type="email" data-bind="value: client.emailId">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPhoneNumber">Phone Number:</label>
            <div class="controls">
            <input type="text" id="inputPhoneNumber" placeholder="Enter phone number" class="input-block-level" data-trigger="change" data-required="true" name="companyAddress" data-bind="value: client.phoneNumber">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputAddressDetails">Address Details:</label>
            <div class="controls">
            <textarea rows="3" id="inputAddressDetails" placeholder="Enter address details" class="input-block-level" data-trigger="change" data-required="true" name="companyAddress" data-bind="value: client.companyAddress"></textarea>
            </div>
        </div> 
        <button class="btn btn-primary btn-danger btn-large pull-right"  aria-hidden="true" data-bind="click: saveClient">Submit</button>
        <a href="admin-dashboard.html" role="button" class="btn  pull-left btn-large" data-toggle="modal" data-bind="click: cancel">Cancel</a>
       
</form>
<div class="clearfix"></div>
</div>
  </div>

<script>
$('#element').tooltip('show')
</script>
