<form id="createLink" data-validate="parsley">
<h1>Create Link</h1>
<table>
	<tr>
		<td>Display Text:</td>
		<td><input data-trigger="change" data-required="true" name="name" data-bind="value: linkMaster.name"></td>
	</tr>	
	<tr>
		<td>Url:</td>
		<td><input type="text" data-type="url" data-trigger="change" data-required="true" name="email" data-bind="value: linkMaster.url"></td>
	</tr>
	<tr>
		<td>Pic URL: </td>
		<td><input id="fileupload" type="file" name="upload" multiple="false" />&nbsp; 
			<span style="font-size:12px;color:#a0a0a0;">(Supported Formats: jpg, jpeg, png and gif)</span></td>
	</tr>
	<tr>
		<td colspan="2"><img style="max-height:100px; max-width: 50px;" id="photo"/></td>
	</tr>
		<tr>
			<td>
			<input type="checkbox" data-bind="checked: linkMaster.showcaseFlag"  data-group="mygroup"  />
			<span>Showcase</span></td>
		</tr>
		<!-- ko if: linkMaster.showcaseFlag -->
		<tr>
			<td>Title:</td>
			<td>
			<input type="text" data-required="true" name="name" data-bind="value: linkMaster.title">
			</td>
		</tr>
		<tr>
			<td>Sub-Title:</td>
			<td>
			<input type="text" name="url" data-bind="value: linkMaster.subtitle">
			</td>
		</tr>
		<!-- /ko -->
	<tr><td></td>
		<td><input type="button" value="Save" id="link_save" data-bind="click: saveLinkMaster"/><input type="button" data-bind="click:cancel" value="Cancel" /> </td>
	</tr>
</table>
</form>