<form id="createSms" data-validate="parsley">
<h1>Create Sms Link</h1>
<table>
	<tr>
		<td>Display Text:</td>
		<td><input type="text" data-trigger="change" data-required="true" name="name" data-bind="value: smsMaster.name"></td>
	</tr>	
	<tr>
		<td>Mobile No:</td>
		<td><input type="text" data-trigger="change" data-required="true" name="email" data-bind="value: smsMaster.number"></td>
	</tr>
	<tr>
		<td>Default Text:</td>
		<td><textarea name="email" data-trigger="change" data-required="true" data-bind="valueUpdate:'afterkeydown', value: smsMaster.defaultText"> </textarea><!-- <span data-bind="text: defaultTextCount"></span> --></td>
	</tr>	
	<tr>
		<td>Pic URL: </td>
		<td><input id="fileupload" type="file" name="upload" multiple="false" />&nbsp; 
			<span style="font-size:12px;color:#a0a0a0;">(Supported Formats: jpg, jpeg, png and gif)</span></td>
	</tr>
	<tr>
		<td colspan="2"><img style="max-height:100px; max-width: 50px;" id="photo"/></td>
	</tr>
		<tr>
			<td>
			<input type="checkbox" data-bind="checked: smsMaster.showcaseFlag"  data-group="mygroup"  />
			<span>Showcase</span></td>
		</tr>
		<!-- ko if: smsMaster.showcaseFlag -->
		<tr>
			<td>Title:</td>
			<td>
			<input type="text" data-required="true" name="name" data-bind="value: smsMaster.title">
			</td>
		</tr>
		<tr>
			<td>Sub-Title:</td>
			<td>
			<input type="text" name="url" data-bind="value: smsMaster.subtitle">
			</td>
		</tr>
		<!-- /ko -->
	<tr><td></td>
		<td><input type="button" value="Save" id="sms_save" data-bind="click: saveSmsMaster"/><input type="button" data-bind="click:cancel" value="Cancel" /> </td>
	</tr>
</table></form>