<ul>
	<!-- ko foreach: audioMasterList -->
	<li style="list-style-type: none; text-align: left; margin-left: -35px;">
		<!-- <input type="checkbox" data-bind="attr: { value: _id }, checked: $root.selectedAudioMasters"> -->
		<span data-bind="text: url() + ' - ' + name()"></span>
		<a data-bind="attr: {value: _id}, click:$root.indexAudio1" >Add</a>
		<!-- ko if: title -->
		<a data-bind="attr: {value: _id}, click:$root.sindexAudio1" >Add with Showcase</a>
		<!-- /ko -->
	</li>
	<!-- /ko -->
<!-- 	<input type="button" data-bind="click:indexAudio1" value="Index" />  -->
</ul>
