<div class="inside">
<form class="form-horizontal noma" data-validate="parsley">
<div class="control-group">
    <label class="control-label">Email</label>
    <div class="controls">
    <input type="text" id="url" class="input-block-level" placeholder="http://" data-trigger="change" data-required="true" data-bind="value: formData.email">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Display text</label>
    <div class="controls">
    <input type="text" id="inputDisplayText" class="input-block-level" placeholder="Enter display text here" data-trigger="change" data-required="true" data-bind="value: formData.name">
    </div>
</div>
<div class="control-group">
    <label class="control-label">Subject</label>
    <div class="controls">
    <input type="text" id="inputSubject" class="input-block-level" placeholder="Enter Subject" data-trigger="change" data-required="true" data-bind="value: formData.defaultSubject" >
    </div>
</div>
<div class="control-group">
    <label class="control-label">Mail text</label>
    <div class="controls">
    <textarea rows="3" id="description" class="input-block-level" placeholder="Enter description here" data-trigger="change" data-required="true" data-bind="value: formData.name"></textarea>
    </div>
</div>
<div class="control-group">
    <div class="controls">
    <label class="checkbox">
    <input type="checkbox"> Showcase
    </label>
    </div>
</div>
<ul class="thumbnails">
    <li class="span3">
        <a href="#" class="thumbnail">
       	<img src="img/pics/image.jpg" id="photo">
        </a>
    </li>
   <li class="span9">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-append">
                <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                </div>
                <span class="btn btn-file">
                	<span class="fileupload-new">Upload Image</span>
                	<span class="fileupload-exists">Change</span>
                	<input type="file" id="fileupload" name="upload" multiple="false" />
                </span>
                <!-- <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a> -->
                <!-- <br>
                &nbsp; <span style="font-size:12px;color:#a0a0a0;">(Supported Formats: jpg, jpeg, png and gif)</span> -->
            </div>
        </div>
        <!-- ko if: formData.showcaseFlag -->
	        <div class="control-group">
	            <label class="control-label">Title</label>
	            <div class="controls">
	            <input type="text" id="url" class="input-block-level" placeholder="Enter showcase title" data-bind="value: formData.title">
	   			</div>
			</div>
	        <div class="control-group">
	            <label class="control-label">Sub title</label>
	            <div class="controls">
	            <input type="text" id="url" class="input-block-level" placeholder="Enter showcase sub title" data-bind="value: formData.subtitle">
	   			</div>
			</div>
		<!-- /ko -->
        
        <!--Modal Box starts here-->          
            <!-- Modal -->
            <div id="previewMobile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               
                <div class="modal-body">
               		<div class="mobile-preview">
                        <div class="smart-snap">
                       		 <img src="img/smart-snap.png"> 
                        </div>
                        <div class="ttl">
                            <h4>Lady on Fire</h4>
                            <div class="tag-line">Just for demo purpose.....</div>
                   		</div>
                        <div class="show-case">
                        
                            <div class="media">
                              <a class="pull-left" href="#">
                              <img src="img/shoc.png" class="scase"> </a>
                              <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>
                                View the watch in 3D and customize it.
                                <div class="right-arrow"><a href="#"><img src="img/right-arrow.png"></a></div>
                              </div>
                            </div>
                            
                            <div class="media">
                              <a class="pull-left" href="#">
                              <img src="img/shoc.png" class="scase"> </a>
                              <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>
                                View the watch in 3D and customize it.
                                <div class="right-arrow"><a href="#"><img src="img/right-arrow.png"></a></div>
                              </div>
                            </div>
                            
                    	</div>
                   </div>
              </div>
         </div>
        <!--Modal Box Ends here-->        
        
   </li>
</ul>
<!-- ko ifnot:editMode -->
<div class="control-group noma">
    <div class="controls">
    <label class="checkbox">
    <input type="checkbox" data-bind="checked: $root.addToMasters" > Save in master
    </label>    
    <button class="btn btn-large btn-danger" type="button" data-bind="click: indexEmail">Add</button>
    <button class="btn btn-large btn-danger" type="button" data-bind="click: clear">Reset</button>
    
    </div>
</div>
<!-- /ko -->

<!-- ko if:editMode -->
<div class="control-group noma">
    <div class="controls">
    <button class="btn btn-large btn-danger" type="button" data-bind="click: update">Update</button>
    <button class="btn btn-large btn-danger" type="button" data-bind="click: clear">Reset</button>
  	</div>
</div>
<!-- /ko -->
</form>
</div>

