<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>S3 - Image Indexing</title>
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-fileupload.css" rel="stylesheet" media="screen">
<link href="css/styles.css" rel="stylesheet" media="screen">
<link href="css/prettyCheckable.css" rel="stylesheet" media="screen">
</head>

<body>
<div id="wrap">
<header>
<div class="logo"><img src="img/logo.png"></div>

<ul class="main-nav">
	<li class="active"><a href="#">Image</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Master</a></li>
</ul>
<div class="logout"><!--<a href="#" id="ele"  data-toggle="tooltip"  data-placement="bottom" title="Logout"><img src="img/logout.png" alt="Logout" title="Logout"></a>-->
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Bharath Agarwal
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Signout</a></li>
  </ul>
</div>
</div>
</header>
<section class="row-fluid content-col">
  <div class="span12 ">
  <div class="span4 hea">
     <div class="insider">
            <select class="input-large">
              <option>Web</option>
              <option>Call</option>
              <option>SMS</option>
              <option>Email</option>
              <option>Buy</option>
              <option>Audio</option>
              <option>Video</option>
            </select>
        </div>
     </div>
     <div class="span8 hea">
     		<h4 class="pull-left">Image Indexing</h4>
                    <div class="media mini-thumb pull-right">
                    <a class="pull-left" href="#"><img src="img/smart-snap.png"></a>
                    <div class="media-body">
                    	Lady on Fire
                    </div>
        </div>
     </div>
   <div class="span4 spl">
    	<div class="inside">
        		<table class=" table table-bordered table-striped list-view">
          <thead>
            <tr>
              <th>Master Name</th>
              <th>Showcase (Y/N)</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Panchakarma
                </label>
    	      </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Ayurveda
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Guruji
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Sumeru
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
             <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Panchakarma
                </label>
    	      </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Ayurveda
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Guruji
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
         
          </tbody>
        </table>
        <button class="btn btn-large btn-danger pull-right" type="button">Add</button>
         <div class="clearfix"></div>
        </div>
    </div>
    <div class="span8 spl1">
    	<div class="inside">
            <form class="form-horizontal noma">
                <div class="control-group">
                    <label class="control-label">Display text</label>
                    <div class="controls">
                    <input type="text" id="inputDisplayText" class="input-block-level" placeholder="Enter display text here">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Description</label>
                    <div class="controls">
                    <textarea rows="3" id="description" class="input-block-level" placeholder="Enter description here"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">URL link</label>
                    <div class="controls">
                    <input type="text" id="url" class="input-block-level" placeholder="http://">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                    <label class="checkbox">
                    <input type="checkbox"> Showcase
                    </label>
                    </div>
                </div>
                <ul class="thumbnails">
                    <li class="span3">
                        <a href="#" class="thumbnail">
                       	<img src="img/pics/image.jpg">
                        </a>
                    </li>
                   <li class="span9">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                                </div>
                                <span class="btn btn-file"><span class="fileupload-new">Upload Image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Title</label>
                            <div class="controls">
                            <input type="text" id="url" class="input-block-level" placeholder="Enter showcase title">
                   			</div>
                		</div>
                        <div class="control-group">
                            <label class="control-label">Sub title</label>
                            <div class="controls">
                            <input type="text" id="url" class="input-block-level" placeholder="Enter showcase sub title">
                   			</div>
                		</div>
                        
                        <!--Modal Box starts here-->
                           
                            
                            <!-- Modal -->
                            <div id="previewMobile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                               
                                <div class="modal-body">
                               		<div class="mobile-preview">
                                        <div class="smart-snap">
                                       		 <img src="img/smart-snap.png"> 
                                        </div>
                                        <div class="ttl">
                                            <h4>Lady on Fire</h4>
                                            <div class="tag-line">Just for demo purpose.....</div>
                                   		</div>
                                        <div class="show-case">
                                        
                                            <div class="media">
                                              <a class="pull-left" href="#">
                                              <img src="img/shoc.png" class="scase"> </a>
                                              <div class="media-body">
                                                <h4 class="media-heading">Media heading</h4>
                                                View the watch in 3D and customize it.
                                                <div class="right-arrow"><a href="#"><img src="img/right-arrow.png"></a></div>
                                              </div>
                                            </div>
                                            
                                            <div class="media">
                                              <a class="pull-left" href="#">
                                              <img src="img/shoc.png" class="scase"> </a>
                                              <div class="media-body">
                                                <h4 class="media-heading">Media heading</h4>
                                                View the watch in 3D and customize it.
                                                <div class="right-arrow"><a href="#"><img src="img/right-arrow.png"></a></div>
                                              </div>
                                            </div>
                                            
                                    	</div>
                                   </div>
                              </div>
                         </div>
                        <!--Modal Box Ends here-->
                        
                        
                   </li>
                </ul>
                <div class="control-group noma">
                    <div class="controls">
                    <label class="checkbox">
                    <input type="checkbox"> Save in master
                    </label>
                    <button class="btn btn-large btn-danger" type="button">Add</button>
                    </div>
                </div>
               
          </form>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="indexing">
    	<table class=" table table-bordered table-striped list-view index">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Display Text</th>
              <th>Type</th>
              <th>Showcase</th>
              <th>Order</th>
              <th>Edit</th>
              <th>Delete</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tr"><input type="checkbox"></td>
              <td>Sumeru</td>
              <td>Web</td>
              <td>Yes</td>
              <td><input type="text" id="url" class="input-mini" placeholder="#"></td>
              <td><a href="#"><img src="img/edit.png" alt="Edit"></a></td>
              <td><a href="#"><img src="img/close.png" alt="Delete"></a></td>
           </tr>
           <tr>
              <td class="tr"><input type="checkbox"></td>
              <td>Ayurveda</td>
              <td>Web</td>
              <td>Yes</td>
              <td><input type="text" id="url" class="input-mini" placeholder="#"></td>
              <td><a href="#"><img src="img/edit.png" alt="Edit"></a></td>
              <td><a href="#"><img src="img/close.png" alt="Delete"></a></td>
           </tr>
           <tr>
              <td class="tr"><input type="checkbox"></td>
              <td>Panchakarma</td>
              <td>Web</td>
              <td>Yes</td>
              <td><input type="text" id="url" class="input-mini" placeholder="#"></td>
              <td><a href="#"><img src="img/edit.png" alt="Edit"></a></td>
              <td><a href="#"><img src="img/close.png" alt="Delete"></a></td>
           </tr>
          </tbody>
        </table>
       
        <div class="pull-right">
         <button class="btn btn-large btn-danger btn-primary" type="button">Save</button>
         <button class="btn btn-large" type="button">Cancel</button>
          <!-- Button to trigger modal -->
                            <a href="#previewMobile" role="button" class="btn btn-info btn-large" data-toggle="modal">Preview in Mobile</a>
         </div>
          <div class="clearfix"></div>
    </div>   
   
 </div>
</section>
<div id="push"></div>
</div>
<footer id="footer">CopyRights @ Smart Snap 2013. All Rights Reserved</footer>
<script src="js/jQuery v1.9.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-fileupload.js"></script>
<script src="js/isotope.js"></script>
<script src="js/prettyCheckable.js"></script>
<script>
$(document).ready(function(){ 
$('#container').isotope({itemSelector: '.item',
        masonry : {
          columnWidth : $('#container').width() / 4
        }

});
$(window).smartresize(function(){
  $('#container').isotope({
    // update columnWidth to a percentage of container width
    masonry: { columnWidth: $('#container').width() / 4 }
  });
});

});
$('#element').tooltip('show');
$('#ele, #grid, #list').tooltip('hide');

$('input.customCheck').prettyCheckable();



</script>
</body>
</html>
