<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>S3 - Image Upload</title>
<link href="css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-responsive.css" rel="stylesheet" media="screen">
<link href="css/bootstrap-fileupload.css" rel="stylesheet" media="screen">
<link href="css/styles.css" rel="stylesheet" media="screen">

</head>

<body>
<div id="wrap">
<header>
<div class="logo"><img src="img/logo.png"></div>

<ul class="main-nav">
	<li class="active"><a href="#">Image</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Master</a></li>
</ul>
<div class="logout"><!--<a href="#" id="ele"  data-toggle="tooltip"  data-placement="bottom" title="Logout"><img src="img/logout.png" alt="Logout" title="Logout"></a>-->
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Bharath Agarwal
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Signout</a></li>
  </ul>
</div>
</div>
</header>
<section class="row-fluid content-col">
<div class="span12 image-upload">
       <div class="row-fluid">
            <div class="contnr">
                <ul class="thumbnails">
                    <li class="span3">
                        <a href="#" class="thumbnail">
                       	<img src="img/pics/image.jpg">
                        </a>
                    </li>
                    <li class="span9">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputImageName">Image name</label>
                            <div class="controls">
                           		 <input type="text" id="inputImageName" placeholder="Enter image name here">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputTags">Tags</label>
                            <div class="controls">
                           		<textarea rows="3" id="inputTags" placeholder="Enter tags here"></textarea>
                            </div>
                          <!--Button Drop here-->
                                <div class="btn-group tags">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Add existing Tags
                                    <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu add-tags">
                                    	<li>
                                            <label class="checkbox">
                                            <input type="checkbox" value="">
                                            Guruji
                                            </label>
										</li>
                                        <li>
                                        	<label class="checkbox">
                                            <input type="checkbox" value="">
                                            Art of Living
                                            </label>
                                        </li>
                                        <li>
                                        	<label class="checkbox">
                                            <input type="checkbox" value="">
                                            Panchakarma
                                            </label>
                                        </li>
                                        <li><button class="btn btn-danger btn-small" type="button">Add</button></li>
                                    </ul>
                                </div>
                          <!--Button Drop Ends here-->
                        </div>
                        
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                            <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
                            <span class="btn btn-file"><span class="fileupload-new">Upload Image</span><span class="fileupload-exists">Change</span><input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
                <ul class="thumbnails row-highlight">
                    <li class="span3">
                        <a href="#" class="thumbnail">
                       	<img src="img/pics/banner.jpg">
                        </a>
                    </li>
                    <li class="span9">
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputImageName">Banner Title</label>
                            <div class="controls">
                           		 <input type="text" id="inputImageName" placeholder="Enter banner title here">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputTags">Sub Title</label>
                            <div class="controls">
                           		<input type="text" id="inputSubName" placeholder="Enter sub title here">
                            </div>
                        </div>
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                            <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
                            <span class="btn btn-file"><span class="fileupload-new">Upload Banner</span><span class="fileupload-exists">Change</span><input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
                <ul class="thumbnails">
                    <li class="span3">
                        <a href="#" class="thumbnail">
                       	<img src="img/pics/logo.jpg">
                        </a>
                    </li>
                    <li class="span9">
                    <div class="form-horizontal">
                       <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="input-append">
                            <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div>
                            <span class="btn btn-file"><span class="fileupload-new">Upload Logo</span><span class="fileupload-exists">Change</span><input type="file" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
                <div class="bottom-buts">
  <button class="btn btn-danger btn-large" type="button">Submit</button>
  <button class="btn btn-info btn-large" type="button">Index</button>
  <button class="btn btn-large" type="button">Cancel</button>
                </div>
            </div>
        </div>
</section>
<div id="push"></div>
</div>
<footer id="footer">CopyRights @ Smart Snap 2013. All Rights Reserved</footer>
<script src="js/jQuery v1.9.1.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-fileupload.js"></script>
<script src="js/isotope.js"></script>
<script>
$(document).ready(function(){ 
$('#container').isotope({itemSelector: '.item',
        masonry : {
          columnWidth : $('#container').width() / 4
        }

});
$(window).smartresize(function(){
  $('#container').isotope({
    // update columnWidth to a percentage of container width
    masonry: { columnWidth: $('#container').width() / 4 }
  });
});

});
$('#element').tooltip('show')
$('#ele, #grid, #list').tooltip('hide')
 $('.dropdown-menu input, .dropdown-menu label').click(function(e) {
        e.stopPropagation();
    });
</script>
</body>
</html>
