<div class="row-fluid" id='gridview'>
	<div class="contnr" id="container">
		<!-- ko foreach: photos-->
		<div class="item">
			<div class="imgh">
				<div class="img" ><img data-bind="attr:{src:'/data/photos/'+picsaveName()}">
				</div>
				<div class="content">
					<h3 data-bind="text:title"></h3>
					<ul class="sel-tags-inner">
						<!--ko foreach:tags-->
						<li data-bind="text:$data"></li>
						<!--/ko-->
					</ul>
					<ul class="control">
						<li class="pull-left">
							<a href="#">more..</a>
						</li>
						<li class="pull-right">
							<a data-bind="click: $root.delete"><img src="img/close.png" alt="Delete"></a>
						</li>
						<li class="pull-right">
							<a data-bind="attr:{href:'#/photos/'+_id()+'/edit'}"><img src="img/edit.png" alt="Edit"></a>
						</li>
						<li class="pull-right">
							<a data-bind="attr:{href:'#/photos/'+_id()+'/indexing'}"><img src="img/call-to-action.png" alt="Index"></a>
						</li>						
					</ul>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>
	

