	<div class="span4 hea">
     <div class="insider">
            <select class="input-large" data-bind="options: masters, value: selectedMaster"></select>
        </div>
    </div>
     <div class="span8 hea">
     		<h4 class="pull-left">Image Indexing</h4>
		    <div class="media mini-thumb pull-right">
			    <a class="pull-left" href="#"><img src="img/smart-snap.png"></a>
			    <div class="media-body">
			    	Lady on Fire
			    </div>
			</div>
     </div>
   <div class="span4 spl">
    	<div class="inside">
        		<table class=" table table-bordered table-striped list-view">
          <thead>
            <tr>
              <th>Master Name</th>
              <th>Showcase (Y/N)</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Panchakarma
                </label>
    	      </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Ayurveda
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Guruji
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Sumeru
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
             <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Panchakarma
                </label>
    	      </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Ayurveda
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
           <tr>
              <td>
                <label class="checkbox">
                <input type="checkbox"> Guruji
                </label>
			  </td>
              <td><input type="checkbox" class="customCheck"></td>
           </tr>
         
          </tbody>
        </table>
        <button class="btn btn-large btn-danger pull-right" type="button">Add</button>
         <div class="clearfix"></div>
        </div>
    </div>
    <div class="span8 spl1" id='indexCreate'>
    	<div class="inside">
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="indexing">
    	<table class=" table table-bordered table-striped list-view index">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Display Text</th>
              <th>Type</th>
              <th>Showcase</th>
              <th>Order</th>
              <th>Edit</th>
              <th>Delete</th>
           </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tr"><input type="checkbox"></td>
              <td>Sumeru</td>
              <td>Web</td>
              <td>Yes</td>
              <td><input type="text" id="url" class="input-mini" placeholder="#"></td>
              <td><a href="#"><img src="img/edit.png" alt="Edit"></a></td>
              <td><a href="#"><img src="img/close.png" alt="Delete"></a></td>
           </tr>
           <tr>
              <td class="tr"><input type="checkbox"></td>
              <td>Ayurveda</td>
              <td>Web</td>
              <td>Yes</td>
              <td><input type="text" id="url" class="input-mini" placeholder="#"></td>
              <td><a href="#"><img src="img/edit.png" alt="Edit"></a></td>
              <td><a href="#"><img src="img/close.png" alt="Delete"></a></td>
           </tr>
           <tr>
              <td class="tr"><input type="checkbox"></td>
              <td>Panchakarma</td>
              <td>Web</td>
              <td>Yes</td>
              <td><input type="text" id="url" class="input-mini" placeholder="#"></td>
              <td><a href="#"><img src="img/edit.png" alt="Edit"></a></td>
              <td><a href="#"><img src="img/close.png" alt="Delete"></a></td>
           </tr>
          </tbody>
        </table>
       
        <div class="pull-right">
         <button class="btn btn-large btn-danger btn-primary" type="button">Save</button>
         <button class="btn btn-large" type="button">Cancel</button>
          <!-- Button to trigger modal -->
                            <a href="#previewMobile" role="button" class="btn btn-info btn-large" data-toggle="modal">Preview in Mobile</a>
         </div>
          <div class="clearfix"></div>
    </div> 
--------------------------------------------------------------------------------------------------------


<select id="masters" data-bind="options: masters, value: selectedMaster"></select>
<div id='masterList'>
	<h3>Master list</h3>
	<ul>
		<!-- ko foreach: masterList -->
		<li style="list-style-type: none; text-align: left; margin-left: -35px;">
			<span data-bind="text: name"></span>
			<a data-bind="attr: {value: _id}, click:$root.indexFromMaster.bind($data,$root.selectedMaster)" >Add</a>
			<!-- ko if: title.length > 0 -->
			<a data-bind="attr: {value: _id}, click:$root.indexFromMasterWithShowcase.bind($data,$root.selectedMaster)" >Add with Showcase</a>
			<!-- /ko -->
		</li>
		<!-- /ko -->
	</ul>
</div>
<h3>New/Edit Entry</h3>
<div id='indexCreate'>
</div>
<h3>Indexed Items</h3>
<table>
	<thead>
		<th>Display Name</th>
		<th>Type</th>
	</thead>
	<tbody>
		<!-- ko foreach: indexedActions.emails -->
		<td data-bind="text:name"></td>
		<td>Email</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'email')">Edit</span></td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedActions.links -->
		<td data-bind="text:name"></td>
		<td>Link</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'link')">Edit</span></td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedActions.calls -->
		<td data-bind="text:name"></td>
		<td>Call</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'call')">Edit</span></td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedActions.smses -->
		<td data-bind="text:name"></td>
		<td>Sms</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'sms')">Edit</span></td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedActions.audio -->
		<td data-bind="text:name"></td>
		<td>Audio</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'audio')">Edit</span></td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedActions.videos -->
		<td data-bind="text:name"></td>
		<td>Video</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'video')">Edit</span></td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedActions.buy -->
		<td data-bind="text:name"></td>
		<td>Buy</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'buy')">Edit</span></td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedActions.socials -->
		<td data-bind="text:name"></td>
		<td>Social</td>
		<!-- ko if: showcaseFlag -->
		<td><input type="text" data-bind="value: order"></td>
		<!-- /ko -->
		<!-- ko ifnot: showcaseFlag -->
		<td></td>
		<!-- /ko -->
		<td><span data-bind="click:$root.editAction.bind($data,'social')">Edit</span></td>
		</tr>
		<!-- /ko -->
	</tbody>
</table>
