<table>
	<thead>
			<th>Display Name</th>
			<th>Type</th>			
	</thead>
	<tbody>
		<!-- ko foreach: indexedList.emails -->
		<tr>
			<td data-bind="text:defaultText"></td>
			<td>Email</td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedList.links -->
		<tr>
			<td data-bind="text:name"></td>
			<td>Web</td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedList.calls -->
		<tr>
			<td data-bind="text:name"></td>
			<td>Call</td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedList.smses -->
		<tr>
			<td data-bind="text:name"></td>
			<td>Sms</td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedList.audio -->
		<tr>
			<td data-bind="text:name"></td>
			<td>Audio</td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedList.videos -->
		<tr>
			<td data-bind="text:name"></td>
			<td>Video</td>
		</tr>
		<!-- /ko -->
		<!-- ko foreach: indexedList.buy -->
		<tr>
			<td data-bind="text:name"></td>
			<td>Buy</td>
		</tr>
		<!-- /ko -->
	</tbody>
</table>