<table>
	<tr>
		<td>Display Text:</td>
		<td><input type="text" name="name" data-bind="value: shareMaster.name"></td>
	</tr>	
	<tr>
		<td>Description:</td>
		<td><input type="text" name="url" data-bind="value: shareMaster.description"></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="checkbox" data-bind="checked: $root.addToMasters" />
			<span>Add to Masters</span>
		</td>
	</tr>
	<tr>
		<td></td>
		<td><input type="button" value="Index" id="indexShare" data-bind="click: indexShare"/>
		<input type="reset" data-bind="click: clear" value="Reset" /></td>
	</tr>
</table>