<form id="createForm" data-validate="parsley">
	<table>
		<tr>
			<td>Display Text:</td>
			<td>
			<input data-trigger="change" data-required="true" type="text" name="name" data-bind="value: formData.name">
			</td>
		</tr>
		<tr>
			<td>URL:</td>
			<td>
			<input data-type="url" data-trigger="change" data-required="true" type="text" name="url" data-bind="value: formData.url">
			</td>
		</tr>
		<tr>
			<td>Pic URL: </td>
			<td>
			<input id="fileupload" type="file" name="upload" multiple="false" />
			&nbsp; <span style="font-size:12px;color:#a0a0a0;">(Supported Formats: jpg, jpeg, png and gif)</span></td>
		</tr>
		<tr>
			<td colspan="2"><img style="max-height:100px; max-width: 50px;" id="photo"/></td>
		</tr>
		<tr><td>
		<input type="checkbox" data-bind="checked: formData.showcaseFlag"  data-group="mygroup"  /><span>Showcase</span>
		</td></tr>
		<!-- ko if: formData.showcaseFlag -->
		<tr>
			<td>Title:</td>
			<td>
			<input type="text" data-required="true" name="email" data-bind="value: formData.title" />
			</td>
		</tr>
		<tr>
			<td>Sub-Title:</td>
			<td>
			<input type="text" name="email" data-bind="value: formData.subtitle" />
			</td>
		</tr>
		<!-- /ko -->
		<!-- ko ifnot:editMode -->
		<tr>
			<td colspan="2">
			<input type="checkbox" data-group="mygroup" data-bind="checked: $root.addToMasters" />
			<span>Add to Masters</span></td>
		</tr>
		<!-- /ko -->
		<tr>
			<td></td>
			<td><!-- ko ifnot:editMode -->
			<input type="button" value="Index" id="indexVideo" data-bind="click: indexVideo"/>
			<!-- /ko --><!-- ko if:editMode -->
			<input type="button" value="Save" data-bind="click: update"/>
			<!-- /ko -->
			<input type="reset" data-bind="click: clear" value="Reset" />
			</td>
		</tr>
	</table>
</form>